# Backend
BACKEND_PORT=8080
BACKEND_HOST=0.0.0.0
# Redis
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_HOST=redis

# PostgreSQL
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432